@using System.Collections.Generic;
@using CrmSahara.Domain.Data
@model IEnumerable<TaskItem>

<div class="collection with-header">
    <div class="collection-header"><h4>Zadania</h4></div>
    @foreach (var item in Model){
        <a href="#" class="collection-item">
            @($"Nazwa: {item.Name} Priorytet: {item.PriorityId}")
        </a>
    }
</div>