@using CrmSahara.Domain.Data
@model IEnumerable<Comment>

<ul class="collection">
    @foreach (var comment in Model)
    {
        <li class="collection-item">
            <div class="row">
                @comment.Description
                <br/>
             <span><i>Wystawiony : @comment.Date Przez:@comment.User.UserName </i></span>   
            </div>
        </li>
    }
</ul>
            