 html {
     font-family: GillSans, Calibri, Trebuchet, sans-serif;
 }
body {
   /* padding-top: 50px;
    padding-bottom: 20px;*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
 main {
     flex: 1 0 auto;
 }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

 header, main, footer {
     padding-left: 300px;
 }

@media only screen and (max-width : 992px) {
    header, main, footer { padding-left: 0; }
}

#modal2 {
    height: 85% !important;
    max-height: 85% !important;
    overflow-y: hidden !important;
}

 .side-nav li.active {
    background-color: #ee6e73;
}

.side-nav li.active a {
    color: white;
}